<div class="appliance appliance-window">
  <div class="appliance-img appliance-window-img"><img
      src="/images/{{appliance.profilePicture}}" alt="">
  </div>
    {{#if status}}
      <a class="upload" href="/main/appliance/{{appliance._id}}/upload">Обновить изображение</a>
      <a class="upload" href="/main/appliance/{{appliance._id}}/delete">Удалить этот прибор</a>
    {{/if}}
  <div class="appliance-title appliance-window-title">
    {{appliance.title}}
  </div>
  <div class="appliance-text appliance-window-text">
    {{appliance.body}}
  </div>
</div>

<div id='calendar'></div>

  {{#if error}}
    <h2 class="error">{{msg}}</h2>
  {{/if}}
<div class="record">
  {{#if user}}
    <form method='POST' action='/main/appliance/{{appliance._id}}/record'>
      <div class="form-group">
        <label for="exampleInputLogin">Запись от:</label>
        <input class="date" type="date" name="fromDate"><input class="time" type="time" name="fromTime">
        <label for="exampleInputEmail1">до:</label>
        <input class="date" type="date" name="toDate"><input class="time" type="time" name="toTime">
      </div>
      <div class="form-group">

      </div>
      <button type="submit" class="btn btn-primary">Записаться</button>
    {{/if}}
</div>
